.container {
  /* max-width: 65vw; */
  margin: auto;
  padding: 1rem 3rem;
  /* margin-top: 2rem; */

  /* background-color: auto; */

}

p {
  font-size: 1.2rem;

}

h2 {
  font-size: 2.1rem;
}

a {
  text-decoration: underline;
  color: blue;
}
hr {
  margin: 1.6rem 0;
}